@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Шуточные крестики-нолики</h1>
    <p>Добро пожаловать в игру! Перейдите к <a href="/Game">игровой зоне</a> чтобы начать.</p>
</div>